# API Backend URL
NEXT_PUBLIC_API_URL=http://localhost:8080/api

# Cloudinary Integration (Get these from your Cloudinary Dashboard)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dnvkasqjn
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=testMD
